[Unit]
Description=Persistent evdev proxy

[Service]
ExecStart=/usr/sbin/persistent-evdev-rs /etc/persistent-evdev-rs/config.json

[Install]
WantedBy=multi-user.target